# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/**/ios/Pods/
apps/mobile/**/ios/.symlinks/
apps/mobile/**/android/.gradle/
apps/mobile/**/android/local.properties

# Uploads
uploads/
tmp/

# Coverage
coverage/
.nyc_output/

# Docker
*.pid
